name: Controller CI

on:
  push:
    branches: [ "main", "dev", "CI-Test" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Controller CI
      run: cd Controller && docker build .
